.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
  }


  *{
    margin: 1px;
    padding: 0px 30px 0px 30px;
  }
  .background-color{
    background-color: #F1F1F3;
    
  }
  

  

/* nav styles */
.btn-primary{
    background-color: white;
    color: #006a50;
    font-weight: 600px;
    padding: 7px 15px;
    border-radius: 8px;
    border-color: #006A50;
}


.btn-1{
  background-color: #006A50;
  color: #FFFFFF;
  padding: 10px 20px 10px 20px;
  border-radius: 8px;
  /* margin: 8px 16px; */
  font-weight: 600px;
  margin-top: 50px;
  margin-bottom: 117px;
  
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 31px 160px;
}
.nav-title{
    font-weight: bold;
    font-size: 32px;
}
nav ul li{
    list-style: none;
    

}
nav li a{
    text-decoration: none;
    font-size: 18px;
    color: #006A50;
}
nav ul{
    display: flex;
}
.header{
  background-color:#C6E4D6 ;
  padding: 90px 55px 90px 55px;
  border-radius: 24px;
}


.banner{
  display: flex;
  justify-content: space-around;
  margin: 70px 110px 0 110px;
}
.banner header{
  width: 100%;
}
.banner-content{
  max-width: 622px;
}

.banner-greetings{
  color: rgba(14, 14, 14, 0.5);
  font-size: 20px;
  margin-bottom: 0px;
}
.banner-title{
  font-weight: bold;
  font-size: 56px;
  color: #0E0E0E;
  margin-top: 16px;
  margin-bottom: 0px;

}

.ner-profile-picture{
  width: 475px;
  margin: 80px 55px 80px 64px;
}

.target-container{
  text-align: center;
  padding: 50px 0 30px 50px;
  
}


.h-1{
  font-weight: bold;
  color:#0E0E0E ;
  font-size: 40px;
  margin-left: 50px;
  margin-top: 80px;
  margin-bottom: 24px;
}



.p-share{
  font-size: 16px;
  color: #0E0E0E;
  margin-left: 50px;
  margin-bottom: 32px;
}
.p-shares{
  font-size: 16px;
  color: #0E0E0E;
  margin-bottom: 24px;
}


.box{
  padding: 25px 215px 10px 25px;
}





.box-title{
  text-align: justify;
  padding: 30px;
  font-weight: bold;
  color:#0E0E0E ;
  font-size: 40px;
}
.box1{
  text-align: justify;
  width: 302px;
  height: 244px;
  border: 1px solid gray;
  background-color:#FFFFFF ;
  border-radius: 16px;
  padding: 10px;
  margin-right: 24px;
  justify-content: space-around;


}
.box2{
  text-align: justify;
  width: 302px;
  height: 244px;
  border: 1px solid gray;
  background-color:#FFFFFF ;
  border-radius: 16px;
  padding: 10px;
  margin-right: 24px;
  justify-content: space-around;
}
.box3{
  text-align: justify;
  width: 302px;
  height: 244px;
  border: 1px solid gray;
  background-color:#FFFFFF ;
  border-radius: 16px;
  padding: 10px;
  margin-right: 24px;
  justify-content: space-around;
}
.box4{
  text-align: justify;
  width: 302px;
  height: 244px;
  border: 1px solid gray;
  background-color:#FFFFFF ;
  border-radius: 16px;
  padding: 10px;
  margin-right: 5px;
  justify-content: space-around;
}
.box-container{
  display: flex;
  justify-content: space-around;

}




.box-next-container{
  /* padding: 50px 0 30px 50px; */
  display: flex;
    justify-content: space-around;
    padding: 10px;
}


.box-new-1{
  text-align: justify;
    width: 350px;
    height: 250px;
    /* border: 1px solid gray; */
    padding: 20px;
    background-color: #548ff56d;
    border-radius: 7px;
}
.box-new-2{
  text-align: justify;
  width: 350px;
  height: 250px;
  /* border: 1px solid gray; */
  padding: 20px;
  background-color: #09a15d70;
  border-radius: 7px;
}
.box-new-3{
  text-align: justify;
  width: 350px;
  height: 250px;
  /* border: 1px solid gray; */
  padding: 20px;
  background-color: #ffc43971;
  border-radius: 8px;
}

.b-1{
  background-color: #5490F5;
  border-radius: 8px;
  padding:10px ;
  margin-left: 30px;
  color:#FFFFFF;
}
.b-2{
  background-color: #09a15d8e;
  border-radius: 8px;
  padding:10px ;
  margin-left: 30px;
  color:#FFFFFF;
}
.b-3{
  background-color: #FFC239;
  border-radius: 8px;
  padding:10px ;
  margin-left: 30px;
  color:#FFFFFF;
}

.margin{
  margin-top: 24px;
  margin-bottom: 12px;
}





.summary{
  background-color: #FFFFFF;
  border-radius: 16px;
  background-image: url('../assets/quote-bg.png');
  background-repeat: no-repeat;
  padding: 50px 0 50px 50px;
  margin-top: 32px;
  margin-left: 50px;
  margin-bottom: 40px;
  
}


.news-1{
  display: flex;
  padding: 50px;
  justify-content: space-around;
  margin: 0 auto;
  /* border: 1px solid gray; */
  margin-top: 50px;
  background-color:#FFFFFF ;
  text-align: justify;
  border-radius: 24px;
  margin-bottom: 50px;
}

.btn-read{
  margin-left: 30px;
  color:#FFFFFF ;
  background-color: #006A50;
  border-radius:8px ;
  padding: 13px 26px 13px 26px;
}


.share-h2{
  font-size: 32px;
  font-weight: bold;
  color: #0E0E0E;
  margin-bottom: 5px;
}
.date{
  margin-bottom: 15px;
}




.donate-today{
  text-align: center;
  margin-top: 100px;
}

.boxes{
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 70%;
  margin: 30px 300px 30px 300px;
}

.text{
  /* width: 100%;
  text-align: center;
  padding: 10px 300px 10px 300px; */
  /* display: flex; */
    flex-direction: column;
    /* height: 313px; */
    background-image: url('../assets/handshake.jpg');
    background-position: center;
    border-radius: 5px;
    margin-top: 49px;
    margin-left: 200px;
    
  }

.form-long{
  padding: 12px 20px;
  background-color: #FFFFFF;
  width: 85%;
  border-radius: 5px;
  text-align: center;
  margin: 0 50px 0 50px;
  
}



.last-btn{
  text-align: center;
  margin-top: 20px;
  margin:17px 24px 17px 24px ;
}

.A1{
  background-color:#FFFFFF ;
  border-radius: 8px;
  color:#0E0E0E ;
  font-size: 20px;
  font-weight: bold;
  padding:20px ;
}
.A2{
  background-color:#C6E4D6 ;
  border-radius: 8px;
  color:#0E0E0E ;
  font-size: 20px;
  font-weight: bold;
  padding:20px ;
}
.A3{
  background-color:#FFFFFF ;
  border-radius: 8px;
  color:#0E0E0E ;
  font-size: 20px;
  font-weight: bold;
  padding:20px ;
}
.A4{
  background-color:#FFFFFF ;
  border-radius: 8px;
  color:#0E0E0E ;
  font-size: 20px;
  font-weight: bold;
  padding:20px ;
}